@font-face {
  font-family:"BEBASNEUE";
  src:url('fonts/BebasNeue.otf');
}

#chat {
  font-family: 'BEBASNEUE';
  color: #000;
  /*text-shadow: -0.3vmin 0 0 rgba(0, 0, 0, 0.8),
             0.3vmin 0 0 rgba(0, 0, 0, 0.8),
             0 -0.3vmin 0 rgba(0, 0, 0, 0.8),
             0 0.3vmin 0 rgba(0, 0, 0, 0.8);*/
  text-shadow: -0.3vmin 0 0 rgba(255, 255, 255, 0.8),
            0.3vmin 0 0 rgba(255, 255, 255, 0.8),
            0 -0.3vmin 0 rgba(255, 255, 255, 0.8),
            0 0.3vmin 0 rgba(255, 255, 255, 0.8);
}

.smth {
  font-family: 'BEBASNEUE';
}

#chat {
    width: auto;
    height: auto;
}

#chat .popup {
    position: absolute;
    top: 50vh;
    right: -50px;
    width: auto;
    text-align: center;
    will-change: transform;
    opacity: 0;
	        animation: popup 2.5s ease-in;
          animation: popup 7s 1 linear;
}

@keyframes popup {
	0% 		{ transform: translateX(0px) scale(0); opacity: 0; }
	10% 	{ transform: scale(1); opacity: 1;   }
	100%	{ transform: translateX(-2000px); opacity: 1; }
}
